/* .footer{
  width: 100vw;
  
}  */
.f-top {
  background-color: rgb(59, 59, 59);
  color: white;
  display: flex;
  justify-content: space-between;

  padding: 80px 70px 100px 50px;
  /* margin-top: 100%; */
}
.f-left {
  width: 40%;
}
.f-heading {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
.f-list {
  list-style: none;
  font-size: larger;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.f-heading2 {
  font-size: xx-large;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.f-links {
  color: aliceblue;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.f-links:hover {
  color: rgb(174, 227, 252);
}

hr {
  border: none;
  height: 2px;
  background-color: rgb(207, 207, 207);
  margin: 20px 0;
}
.f-bottom {
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 20px 20px 20px 20px;
}
/* .f-icons i {
  font-size: 24px;
  color: #a6bce7;\
   justify-content: right;
  transition: color 0.3s;
  overflow: hidden; 
} */

/* .f-icons:hover i {
  color: #555;
} */
@media (max-width: 768px) {
  .f-top {
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    gap: 50px;
    justify-content: space-between;
  }

  .f-left,
  .f-middle,
  .f-right {
    width: 100%;
    max-width: 500px;
    
  }

  .f-bottom {
    font-size: 1rem;
  }
  .f-para {
    margin-left: 2rem;
  }
  .f-heading {
    font-size: 50px;
    margin-left: 2rem;
  }
  .f-heading2 {
    font-size: x-large;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media (max-width:640px){
  .f-heading {
    font-size: 30px;
    margin-left: 2rem;
  }
}