.nav-wrapper {
  position: relative;
  background-color: #fcf8f8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  z-index: 1000;
}
.navbar {
  background: #fcf8f8;
  padding: 1rem 2rem;
  /* position: relative; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  user-select: none;
  overflow: hidden;
  z-index: 1;
}
.nav-links {
  display: flex;
  gap: 2rem;
  text-decoration: none;
  margin-top: 1rem;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  transition: color 0.3s;
}
.nav-link:hover {
  color: grey;
}
.hamburger {
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
  color: black;
  z-index: 20;
}
.hamburger span {
  height: 3px;
  width: 25px;
  background: rgb(0, 0, 0);
  border-radius: 3px;
  color: black;
}

.logo {
  overflow: visible;
  position: relative;
  height: 30px;
  max-height: none;
  transform: scale(1.9);
  margin: 0;
  pointer-events: none;
  z-index: 2;
}
.logo img {
  height: 30px;
  pointer-events: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .nav-links {
    position: relative; 
    top: 80px; 
    right: 1.5rem; 

    background: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 100;
    overflow: hidden;
  }
  .nav-links.open {
    display: flex;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    color: black;
  }
  .nav-link {
    color: rgb(201, 210, 249);
    padding: 0.5rem 0;
    font-size: large;
  }
  .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 0;
  }

  .nav-links a:hover {
    columns: grey;
    border-radius: 4px;
  }
}
